@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 135%;
    margin: 0;
    padding: 0;
}

p {
    line-height: 160%;
    font-weight: 300;
}

.header-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
    text-align: center;
}
.header-section .header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.main-title {
    display: block;
    margin-bottom: 15px;
    color: #333;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    text-decoration: none;
}

.coffee {
    text-align: center;
    font-size: 40px;
}

.smiley {
    font-size: 40px;
}

.main-subheading {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-family: Merriweather, serif;
    color: #969696;
    font-size: 16px;
}

.header-links {
    margin-top: 17px;
    margin-bottom: 3px;
}

a {
    color: #0070c9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-links a {
    display: inline-block;
    margin-right: 8px;
    color: #969696;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.content-wrapper .content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.content-header {
    margin: 0 7% 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.project-wrapper {
    margin-right: 7%;
    margin-bottom: 40px;
    margin-left: 7%;
    padding-bottom: 40px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
}

.project-title {
    display: block;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #333;
    text-decoration: none;
}

.project-info-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

.project-info-wrapper .project-info {
    display: inline-block;
    margin-right: 8px;
    color: #969696;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.project-wrapper .project-details {
    display: block;
    margin-bottom: 14px;
    line-height: 144%;
    font-family: Merriweather, serif;
    font-weight: 300;
}

.button-round {
    padding: 5px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    background-color: #fff;
    -webkit-transition: border 200ms ease, color 200ms ease;
    transition: border 200ms ease, color 200ms ease;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.primary {
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.button-round:hover {
    border-color: #333;
    color: #333;
    text-decoration: none;
}

.header-links a {
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #c9c9c9;
}

.header-links a:hover {
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid #c9c9c9;
}

.footer {
    padding-top: 29px;
    padding-bottom: 29px;
    border-top: 1px solid #ddd;
    background-color: #f0f0f0;
}
